* {
  box-sizing: border-box;
}

.form-control {
  margin-bottom: 16px;
}

.user-form label {
  display: block;
}

.App {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
}